.error
{
color:red;
}
.main-container
{
width:90hw;
height:auto;
border: 1px solid black;
}
.header
{
margin:5px;
width:90hw;
height:auto;
border: 1px solid black;
}
.logo
{
float:left;
}
.brand-name
{
margin-top:9px;
margin-botton:9px;
font-size:28pt;
}
.content
{
width:90hw;
height:70vh;
margin:5px;
border: 1px solid white;
}
.content-left-panel
{
height:65vh;
margin:5px;
float:left;
padding:5px;
border: 1px solid black;
}
.content-right-panel
{
height:65vh;
margin-left:105px;
margin-right:5px;
margin-top:5px;
margin-botton:5px;
padding:5px;
overflow:scroll;
border:1px solid black;
}
.footer
{
width:90hw;
height:auto;
margin:5px;
text-align:center;
border:1px solid white;
}
